<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationList</key>
	<array>
		<string>moveAndRotate</string>
		<string>moveAndScale</string>
		<string>spinORama</string>
	</array>
	<key>animations</key>
	<dict>
		<key>moveAndRotate</key>
		<dict>
			<key>0.0</key>
			<dict/>
			<key>0.5</key>
			<dict>
				<key>deltaY</key>
				<integer>-200</integer>
				<key>deltaX</key>
				<string>-100</string>
				<key>rotatePosDegrees</key>
				<integer>0</integer>
			</dict>
			<key>1.0</key>
			<dict>
				<key>rotatePosDegrees</key>
				<integer>90</integer>
			</dict>
			<key>2.0</key>
			<dict>
				<key>rotatePosDegrees</key>
				<integer>-90</integer>
			</dict>
			<key>2.5</key>
			<dict>
				<key>lastFrameDuration</key>
				<real>0.5</real>
				<key>rotatePosDegrees</key>
				<integer>0</integer>
				<key>deltaY</key>
				<integer>-200</integer>
				<key>deltaX</key>
				<string>100</string>
			</dict>
		</dict>
		<key>moveAndScale</key>
		<dict>
			<key>0.0</key>
			<dict>
				<key>imageFile</key>
				<string>animating_shape.png</string>
			</dict>
			<key>0.5</key>
			<dict>
				<key>deltaY</key>
				<integer>-200</integer>
				<key>scaleX</key>
				<integer>1</integer>
				<key>scaleY</key>
				<integer>1</integer>
			</dict>
			<key>0.75</key>
			<dict>
				<key>scaleX</key>
				<real>1.5</real>
				<key>scaleY</key>
				<integer>1</integer>
				<key>imageFile</key>
				<string>animating_shape_01.png</string>
			</dict>
			<key>1.0</key>
			<dict>
				<key>scaleX</key>
				<integer>1</integer>
				<key>scaleY</key>
				<real>1.5</real>
				<key>imageFile</key>
				<string>animating_shape_02.png</string>
			</dict>
			<key>1.25</key>
			<dict>
				<key>scaleX</key>
				<real>1.5</real>
				<key>scaleY</key>
				<integer>1</integer>
				<key>imageFile</key>
				<string>animating_shape_03.png</string>
			</dict>
			<key>1.5</key>
			<dict>
				<key>scaleX</key>
				<integer>1</integer>
				<key>scaleY</key>
				<real>1.5</real>
				<key>imageFile</key>
				<string>animating_shape_04.png</string>
			</dict>
			<key>1.75</key>
			<dict>
				<key>scaleX</key>
				<real>1.5</real>
				<key>scaleY</key>
				<integer>1</integer>
				<key>imageFile</key>
				<string>animating_shape.png</string>
			</dict>
			<key>2.0</key>
			<dict>
				<key>deltaY</key>
				<integer>-200</integer>
				<key>scaleX</key>
				<integer>1</integer>
				<key>scaleY</key>
				<integer>1</integer>
				<key>lastFrameDuration</key>
				<real>0.5</real>
			</dict>
		</dict>
		<key>spinORama</key>
		<dict>
			<key>meta</key>
			<dict>
				<key>anchorY</key>
				<real>-0.5</real>
			</dict>
			<key>0.0</key>
			<dict>
				<key>imageFile</key>
				<string>animating_shape_01.png</string>
				<key>rotatePosDegrees</key>
				<integer>0</integer>
				<key>scaleX</key>
				<integer>1</integer>
				<key>scaleY</key>
				<integer>1</integer>
			</dict>
			<key>0.5</key>
			<dict>
				<key>imageFile</key>
				<string>animating_shape_02.png</string>
				<key>scaleX</key>
				<real>1.5</real>
				<key>scaleY</key>
				<real>1.5</real>
				<key>rotatePosDegrees</key>
				<integer>-90</integer>
			</dict>
			<key>1.0</key>
			<dict>
				<key>scaleX</key>
				<real>2</real>
				<key>scaleY</key>
				<real>2</real>
				<key>rotatePosDegrees</key>
				<integer>-180</integer>
				<key>imageFile</key>
				<string>animating_shape_03.png</string>
			</dict>
			<key>1.5</key>
			<dict>
				<key>scaleX</key>
				<real>1.5</real>
				<key>scaleY</key>
				<real>1.5</real>
				<key>rotatePosDegrees</key>
				<integer>-270</integer>
				<key>imageFile</key>
				<string>animating_shape_04.png</string>
			</dict>
			<key>2.0</key>
			<dict>
				<key>rotatePosDegrees</key>
				<integer>-359</integer>
				<key>scaleX</key>
				<integer>1</integer>
				<key>scaleY</key>
				<integer>1</integer>
				<key>lastFrameDuration</key>
				<integer>0</integer>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
